/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding: 2rem;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}


/* Variables de colores */

:root {
  --main-color: #ff6d19;
  --hover-color: #ff9e67;
  --body-color: #2a4b61;
  --container-color: #172c3a;
  --text-color: #fcfeff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 3rem 0 2rem;
}

img {
  width: 100%;
}

.bx {
  cursor: pointer;
}

.contenedor {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.watch-btn {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  color: var(--text-color);
}

.watch-btn .bx {
  font-size: 21px;
  background-color: var(--main-color);
  width: 40px;
  height: 20px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-btn .bx:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
  transition: 0.3s linear;
}

/* btns */

.btn {
  font-weight: 600;
  border: none;
  color: var(--text-color);
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

.primary {
  background-color: var(--main-color);
}

.primary:hover {
  background: var(--hover-color);
}

.secondary {
  background-color: #e7e7e7;
  color: black;
}

.secondary:hover {
  background: #ddd;
}

.success {
  background-color: #04AA6D;
}

.success:hover {
  background-color: #46a049;
}

.warning {
  background-color: #ff9800;
}

.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
}

.danger:hover {
  background: #da190b;
}
